@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$body-color: rgba(229, 226, 226, 0.5);
$body-font: "Poppins", sans-serif;

body {
  background-color: $body-color;
  font-family: $body-font;
}